@import "../node_modules/antd/dist/antd.css";

.slick-arrow:before {
	color: #3e3e3e !important;
}

.slick-slide img {
	display: block;
	margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
